# code to protect the root folder using password and .htaccess
AuthUserFile C:/wamp/www/.htpasswd
AuthType Basic
AuthName "Please Login to continue"
Require valid-user

# code to hide the extension '.php'
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

# customized page not found (404)
ErrorDocument 404 /notFound.html

# customized forbidden page (403)
ErrorDocument 403 /forbidden.html

# disable directory listing
Options -Indexes