body {
	color: #373b44;	
}

.body1 {
	background-image: url('images/bg3.bmp');
	background-repeat: no-repeat;
}

.body1, .body2 {
	background-size: contain;
	background-color: #dee1b6;
	z-index: -1;
	position: fixed;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 100%;
}

.body2 {
	background-image: url('images/bg1.png');
	background-repeat: repeat;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

form.login {
	text-align: center;
	margin-top: 150px;
}

header {
	background-image: url('images/bg2.png');
}

.page-header {
	border-bottom-width: 0px;	
}

.image-container {
	padding-left: auto;
	padding-right: auto;	
}

.page-header {
	margin-top: 10px;
}

#search-button-head {
	background:	
}

.btn-primary, .btn-group {
	background-color: transparent;
	background-image: none;
	border-color: #373b44;
}

.btn-primary {
	color: #dee1b6 !important;	
}

.btn-group {
	color: #dee1b6;	
}

.btn-group {
	color: #373b44;	
}

.btn-primary:hover, btn-primary:focus {
	background-color: transparent;
	background-image: none;
	color: #dee1b6;
	border-color: #bcbf94;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(222,225,182,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(222,225,182,.6);
}

.btn-group:hover, .btn-group:focus {
	backgroun-color: #dee1b6;
	background-image: none;
	color: #373b44;
	border-color: #373b44;	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(55,59,68,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(55,59,68,.6);
}

.form-control {
	background-color: transparent;	
	color: #373b44;
	border-color: #373b44;
}

.form-control:focus {
	background-color: transparent;
	color: #373b44;
	border-color: #151922;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(55,59,68,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(55,59,68,.6);
}

.input-group-addon {
	background-color: #373b44;
	border-color: #151922;
	color: #dee1b6;	
}

.head-item, .head-item:focus {
	background-color: #dee1b6;
	color: #373b44;
}

.head-item:focus {
	border-color: #bcbf94;
	border-width: 1px
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	border-top: none;	
	border-bottom: 1px solid #bcbf94;
}

.table-hover > tbody > tr:hover {
	background-color: #d0d3a8;	
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #d8dbb0;
}

.navbar-inverse {
	background-color: #373b46;
	border-color: #474b56 !important;
}

.navbar-nav {
	margin: 7.5px -15px;	
}

.navbar-right {
	margin-right: 15px;
}